
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron">
    <h1>Hotel</h1>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <hr />
    <p>Aby zacząć: <a href="~/Home/Login" class="btn btn-primary btn-sm">Zaloguj się</a> lub jeśli nie masz konta: <a href="~/Home/Register" class="btn btn-primary btn-sm">Zarejestruj</a>  </p>
</div>

<div class="row">
    @*Jakieś foty by się przydały*@
    @*<div class="col-md-4 col-xs-4">
        <img class="img-responsive" src="~/Content/themes/base/images/stock_icon_3.png" />
    </div>
    <div class="col-md-4 col-xs-4">
        <img class="img-responsive" src="~/Content/themes/base/images/stock_icon_2.png" />
    </div>
    <div class="col-md-4 col-xs-4">
        <img class="img-responsive" src="~/Content/themes/base/images/stock_icon.png" />
    </div>*@
</div>

