@model IEnumerable<HotelMVC.Models.MyReservationModel>
@using GridMvc.Html
@{
    ViewBag.Title = "MyReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje rezerwacje</h2>


<hr />

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" rel="stylesheet"></script>


<div class="container">
    @Html.Grid(Model).Columns(col =>
{
    col.Add(c => c.Id).Titled("Id").Filterable(false).Sortable(true);
    col.Add(c => c.RoomNo).Titled("Nr pokoju").Filterable(true).Sortable(true);
    col.Add(c => c.CheckIn).Titled("Początek rezerwacji").Filterable(true);
    col.Add(c => c.CheckOut).Titled("Koniec rezerwacji").Filterable(true);
    col.Add(c => c.Status).Titled("Status");

})
</div>